{% extends "base.html" %}

{% block content %}

  <h1>Construct the SERBuggy</h1>



  <form action="/power" method="post">
    <p>
      <label for="power_type">Type of primary power: </label>
      <input type="text" name="power_type" value="{{ buggy['power_type'] }}" />
    </p>
    <p>
      <label for="power_units">amount of primary fuel :</label>
      <input type="text" name="power_units" value="{{ buggy['power_units'] }}" />
    </p>
    <p>
      <label for="aux_power_type">Type of auxiliary power:</label>
      <input type="text" name="aux_power_type" value="{{ buggy['aux_power_type'] }}" />
    </p>
    <p>
      <label for="aux_power_units">amount of auxiliary fuel:</label>
      <input type="text" name="aux_power_units" value="{{ buggy['aux_power_units'] }}" />
    </p>
    <p>
      <label for="hamster_booster">Hamster strong hamster good:</label>
      <input type="text" name="hamster_booster" value="{{ buggy['hamster_booster'] }}" />
    </p>

    <input type="submit" class="button">

  </form>

  <p>
    <a href="/edit" class="button">back</a>
  </p>

{% endblock %}


