{% extends "base.html" %}

{% block content %}

  <h1>Buggy</h1>
  {% for buggy in buggies %}
  <table>
    <tr>
      <td>ID:</td> <td> {{ buggy['id'] }} </td>
    </tr>
    <tr>
      <td>the buggy's cost:</td> <td> {{ buggy['total_cost'] }} </td>
    </tr>
    <tr>
      <td>Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td>
    </tr>
    <tr>
      <td>Tyre type:</td> <td> {{ buggy['tyres'] }} </td>
    </tr>
    <tr>
      <td>Total tyres:</td> <td> {{ buggy['qty_tyres'] }} </td>
    </tr>
    <tr>
      <td>Flag primary color:</td> <td> {{ buggy['flag_color'] }} </td>
    </tr>
    <tr>
      <td>Flag pattern:</td> <td> {{ buggy['flag_pattern'] }} </td>
    </tr>
    <tr>
      <td>Flag secondary color:</td> <td> {{ buggy['flag_color_secondary'] }} </td>
    </tr>
    <tr>
      <td>Power primary source:</td> <td> {{ buggy['power_type'] }} </td>
    </tr>
    <tr>
      <td>Fuel primary amount:</td> <td> {{ buggy['power_units'] }} </td>
    </tr>
    <tr>
      <td>Power auxiliary source:</td> <td> {{ buggy['aux_power_type'] }} </td>
    </tr>
    <tr>
      <td>Fuel auxiliary source:</td> <td> {{ buggy['aux_power_units'] }} </td>
    </tr>
    <tr>
      <td>Hamster's mayhem:</td> <td> {{ buggy['hamster_booster'] }} </td>
    </tr>
    <tr>
      <td>Armour type:</td> <td> {{ buggy['armour'] }} </td>
    </tr>
    <tr>
      <td>Attack type:</td> <td> {{ buggy['attack'] }} </td>
    </tr>
    <tr>
      <td>Attack attempts:</td> <td> {{ buggy['qty_attacks'] }} </td>
    </tr>
    <tr>
      <td>Is fireproof?:</td> <td> {{ buggy['fireproof'] }} </td>
    </tr>
    <tr>
      <td>Is insulated?:</td> <td> {{ buggy['insulated'] }} </td>
    </tr>
    <tr>
      <td>Is antibiotic?:</td> <td> {{ buggy['antibiotic'] }} </td>
    </tr>
    <tr>
      <td>Is banging?:</td> <td> {{ buggy['banging'] }} </td>
    </tr>
    <tr>
      <td>Algorithm type:</td> <td> {{ buggy['algo'] }} </td>
    </tr>
  </table>
  {% endfor %}

  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
