{% extends "base.html" %}

{% block content %}

  <h1>Construct the SERBuggy Warfare modules</h1>

  <form action="/new" method="post">
    <p>
      <label for="armour">Armour type: </label>
      <input type="text" name="armour" value="{{ buggy['armour'] }}" />
    </p>
    <p>
      <label for="attack">Weapon type: </label>
      <input type="text" name="attack" value="{{ buggy['attack'] }}" />
    </p>
    <p>
      <label for="qty_attacks">Number of attacks: </label>
      <input type="text" name="qty_attacks" value="{{ buggy['qty_attacks'] }}" />
    </p>
    <p>
      <label for="fireproof">Is it fireproof?: </label>
      <input type="text" name="fireproof" value="{{ buggy['fireproof'] }}" />
    </p>
    <p>
      <label for="insulated">Is it insulated?: </label>
      <input type="text" name="insulated" value="{{ buggy['insulated'] }}" />
    </p>
    <p>
      <label for="antibiotic">Is it antibiotic?: </label>
      <input type="text" name="antibiotic" value="{{ buggy['antibiotic'] }}" />
    </p>
    <p>
      <label for="banging">Is it banging tunes?: </label>
      <input type="text" name="banging" value="{{ buggy['banging'] }}" />
    </p>
    <p>
      <label for="algo">Algorithm type: </label>
      <input type="text" name="algo" value="{{ buggy['algo'] }}" />
    </p>


    <input type="submit" class="button">

  </form>

  <p>
    <a href="/edit" class="button">back</a>
  </p>

{% endblock %}


