{% extends "base.html" %}

{% block content %}

  <h1>Construct the SERBuggy</h1>



  <form action="/new" method="post">
    <p>
      <label for="flag_color">Colour of flag:</label>
      <input type="text" name="flag_color" value="{{ buggy['flag_color'] }}" />
    </p>
    <p>
      <label for="flag_pattern">Pattern of the flag:</label>
      <input type="text" name="flag_pattern" value="{{ buggy['flag_pattern'] }}" />
    </p>
    <p>
      <label for="flag_color_secondary">Second colour of flag:</label>
      <input type="text" name="flag_color_secondary" value="{{ buggy['flag_color_secondary'] }}" />
    </p>

    <input type="submit" class="button">

  </form>

  <p>
    <a href="/edit" class="button">back</a>
  </p>

{% endblock %}


