{% extends "base.html" %}

{% block content %}

  <h1>Construct the SERBuggy</h1>



  <form action="/new" method="post">
    <p>
      <label for="qty_wheels">Number of wheels: </label>
      <input type="text" name="qty_wheels" value="{{ buggy['qty_wheels'] }}" />
    </p>
    <p>
      <label for="tyres">Tyre type: </label>
      <input type="text" name="tyres" value="{{ buggy['tyres'] }}" />
    </p>
    <p>
      <label for="qty_tyres">Number of Tyres: </label>
      <input type="text" name="qty_tyres" value="{{ buggy['qty_tyres'] }}" />
    </p>
    <input type="submit" class="button">

  </form>

  <p>
    <a href="/edit" class="button">back</a>
  </p>

{% endblock %}


