{% extends "base.html" %}

{% block content %}
<style>
  .cs1999-tasks {
    border-top: 1px solid black;
    margin-top: 4em;
  }
  .cs1999-tasks .task {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
  }
  .cs1999-tasks .task h2 {
    border-bottom: 3px solid gray;
  }
</style>

<!-- see tech note about the poster:
      https://rhul-cs-projects.github.io/CS1999-buggy-race-server/                -->
<!--                                                                              -->
<!-- anything you want here: make it beautiful! make it appealing! make it clear! -->
<!-- you can drop images into static/assets if you want... and access them        -->
<!-- here with <img src="/static/image-filename.png" alt="diagram" />             -->
<!--                                                                              -->
<!-- Of course you can edit static/app.css too if you want. It's your webserver,  -->
<!--                                                                              -->
<!-- Maybe... delete all these comments too :-)                                   -->


<!-- below this point keep this section tag and paste in a <div> for every        -->
<!-- task you attempted.                                                          -->
<section class="introduction">
  <h1>what to do with the editor</h1>
  <p>edit buggy's, modify your buggy's,view their equipment.</p>
<section class="cs1999-tasks">
  <h1>how i constructed the SERBuggy editor</h1>
  <div class="task">
    <h2>0-GET</h2>
    <p>
      I forked the repo on GitHub Desktop
    </p>
    <p>
      Once the repo was on my own machine,
      i was able to edit it and proceed to make more changes without worry,
      because i could revert the changes. after each session i did a push.
      Each time i pulled the data to the uni's systems and doing the same there.
    </p>
  </div>
  <div class="task">
    <h2>0-GET Get the source code</h2>
    <p>
      <!-- sentence on _how_ you fixed it -->
      simple i got the source code by hitting clone on github desktop
    </p>
    <p>
      <!-- sentence(s) on anything interesting/incomplete you did -->
      trying the console commands was also interesting as well.
    </p>
  </div>
  <div class="task">
    <h2>0-CHANGE Make a change to a template and see it appear</h2>
    <p>
      <!-- sentence on _how_ you fixed it -->
      i  changed the index page to have a different title and later a lot of pages for later steps.
    </p>
    <p>
      <!-- sentence(s) on anything interesting/incomplete you did -->
    </p>
  </div>
  <div class="task">
    <h2>1-ADD Add more data to the form</h2>
    <p>
      <!-- sentence on _how_ you fixed it -->
      i just simply added much more data by just adding it to <code>init_db.py</code> file
    </p>
    <p>
      <!-- sentence(s) on anything interesting/incomplete you did -->
      if i spent more time i would/ might of made an automated parsing of the website to create to the data of the form to see if it they added more.
    </p>
  </div>
  <div class="task">
    <h2>1-VALID Add basic data validation</h2>
    <p>
      <!-- sentence on _how_ you fixed it -->
      i made a function to contain and do basic integer data validation using <code>.isdigit()</code>
    </p>
    <p>
      <!-- sentence(s) on anything interesting/incomplete you did -->
    </p>
  </div>
  <div class="task">
    <h2>1-STYLE Style your editor just how you like it</h2>
    <p>
      <!-- sentence on _how_ you fixed it -->
      simple and functional is the way at least i think its functional
    </p>
    <p>
      <!-- sentence(s) on anything interesting/incomplete you did -->
      i would of styled it much more but for now i kinda improved the layout
    </p>
  </div>
  <div class="task">
    <h2>2-EDIT Edit the record by loading its current values into the form</h2>
    <p>
      <!-- sentence on _how_ you fixed it -->
      managed to do it by passing records into a function calling from the database and passing it into the render_template to html page which contained <code>buggy['said_item']</code>
    </p>
    <p>
      <!-- sentence(s) on anything interesting/incomplete you did -->
    </p>
  </div>
  <div class="task">
    <h2>2-FORM Make the form better</h2>
    <p>
      <!-- sentence on _how_ you fixed it -->
      i made new html pages and managed to isolate certain parts of the buggy making it look better
    </p>
    <p>
      <!-- sentence(s) on anything interesting/incomplete you did -->
      i didnt managed to complete making specific html choices using select and radio. which i wanted to do.
    </p>
  </div>
  <div class="task">
    <h2>2-COST Calculate and save the game cost of the buggy</h2>
    <p>
      <!-- sentence on _how_ you fixed it -->
      made two functions one to calculate the cost and the other to get the cost from the website. and able to save the total cost every time its called
    </p>
      <!-- sentence(s) on anything interesting/incomplete you did -->
      sadly i couldnt complete this task properly due to my stupid nature. but anyways i got <code>trying.py</code> which is me trying to get the cost.
    </p>
  </div>
  <div class="task">
    <h2>2-RULES Add validation according to the game rules</h2>
    <p>
      <!-- sentence on _how_ you fixed it -->
      i didnt fix this but i had prepared for it using the same function for basic validation
    </p>
    <p>
      <!-- sentence(s) on anything interesting/incomplete you did -->
      would of isolated the game rules by hard coding it to accept specfic statements.
    </p>
  </div>
  <div class="task">
    <h2>3-ENV Switch between dev and production environments</h2>
    <p>
      <!-- sentence on _how_ you fixed it -->
      installed the module needed using <code>pip install python-dotenv</code>
    </p>
    <p>
      <!-- sentence(s) on anything interesting/incomplete you did -->
    </p>
  </div>
  <div class="task">
    <h2>3-AUTOFILL Add auto-fill to the edit forms</h2>
    <p>
      <!-- sentence on _how_ you fixed it -->
    </p>
    <p>
      <!-- sentence(s) on anything interesting/incomplete you did -->
      expanding on filling the form. i could see how using a function and a html button to auto assign a
      data into the html page
    </p>
  </div>
  <div class="task">
    <h2>3-MULTI Allow different buggies to be created</h2>
    <p>
      <!-- sentence on _how_ you fixed it -->
      made a global list variable to pop in and pop out the id once i received it.
    </p>
    <p>
      <!-- sentence(s) on anything interesting/incomplete you did -->
      i need to clean up the coding as many stuff is being reused.
    </p>
  </div>
  <div class="task">
    <h2>3-DEL Allow buggies to be deleted</h2>
    <p>
      <!-- sentence on _how_ you fixed it -->
      same as multi but it was simpler. using both html page and<code>app.py</code>
    </p>
    <p>
      <!-- sentence(s) on anything interesting/incomplete you did -->
      needed validation to prevent deleting the last buggy.
    </p>
  </div>

  <p>
    <a href="/" class="button">home</a>
  </p>

<!-- this closes the section: keep it in! -->
</section>

{% endblock %}



